.concat form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
   
   
 }

 .concat form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .concat form .inputBox input,
 .concat form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color-1);
    margin: 0.7rem 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    text-transform: none;
    border-radius: 0.5rem;
 }
 .concat form textarea{
    height: 20rem;
    resize: none;
 }

 .concat form .inputBox input{
    width: 49%;
 } 
